@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  margin: 0%;
  padding: 0%;
  background-color: #1A1E23;
}



.logoimg {

  width: 50px;
}


/* hero section */


.hero-build-dream {
  font-size: 45px;
  color: white;
  padding-left: 5%;
}

.hero-img {
  width: 100vw;

  border-top-right-radius: 70px;
  border-top-left-radius: 70px;
  height: 500px;

}



.service-img {
  box-shadow: 10px 10px 10px #39474E
}

/* .bgcx:has(.service-img:hover) {
  background-color: #81898d;
}

.bgcx:has(.txt:hover) {
  background-color: #39474E;
} */

.txt {
  rotate: -30deg
}

.txt:hover+.show {
  display: block;

}



.bg-color:hover~.show {
  display: block;
}

.bg-color:hover {
  display: none;
}



.bg-color:hover+.txt {
  display: none;
}